@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700');


.page-content h2,.page-content h3 {
    margin-top: 50px;
}

.site-nav .page-link {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

header.site-header {
    border: 0px;
    color: #fff;
    padding: $spacing-unit / 2
}

.site-title {
    font-size: 28px;
    font-weight: 200;
    line-height: 41px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    max-width: 34vw;
}

.header-positive {
    color: #fff;
    z-index: 500;

    .site-title {
        color: #fff;
        
        &:visited{
            color: #ccc;
        }
    }

    .page-link-positive {
        color: #fff; 
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        margin-right: 20px;

        &:last-child {
        margin-right: 0px;
        }

        &:visited{
            color: #ccc;
        }
    }
}

.stage {
    width: 100%;
    height: 600px;
    max-height: 600px;
    background: #111;
    position: relative;
    top: -112px;
    z-index: 0;
    overflow: hidden;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;

    .stageproto {
        align-self: center;
        height: 1200px;
        width: 500px; 
    }
}

iframe {
    border: 1px solid #f2f2f2;
}

.prototype-right {
    height:500px;
    width:39%;
    float:right;
    margin-left:5%; 
}   

.prototype-left {
    height:500px;
    width:39%;
    float:left;
    margin-right:5%; 
}   



#toc {
    top: 0px;
    left: 0px;
    height: 100%;
    position: fixed;
    background: #333;
    box-shadow: inset -5px 0 5px 0px #000;
    width: 150px;
    padding-top: 20px;
    color: #fff;
}

#toc ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#toc li {
    padding: 5px 10px;
}

#toc a {
    color: #fff;
    text-decoration: none;
    display: block;
}

#toc .toc-h2 {
    padding-left: 10px;
}

#toc .toc-h3 {
    padding-left: 20px;
}

#toc .toc-active {
    background: #336699;
    box-shadow: inset -5px 0px 10px -5px #000;
}