@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700');


.flexcontainer {
    display: flex;
    flex-direction: row;



    .flexcontent {
    width: 70%;

    @include media-query($on-desktop) {
        width: 90%;
        }

    @include media-query($on-laptop) {
        width: 80%;
    }
    @include media-query($on-palm) {
        width: 100%;
    }

    .wrapper {
        padding-left: 0;
        margin-left: 200px;

        @include media-query($on-desktop) {
        margin-left: 0px;
        }

        @include media-query($on-laptop) {
        margin-left: auto;
        }

        @include media-query($on-palm) {
        margin: 0 20px;
        }
    }

    }

    .sidenav {
    width: 30%;

    @include media-query($on-laptop) {
        width: 20%;
    }
     @include media-query($on-palm) {
        display: none;
    }

    }
}

.ref {
    color:red;
    position: absolute;
    top: 100px;
    left: 20%;

    @include media-query($on-desktop) {
        left: 10%;
    }

    @include media-query($on-laptop) {
        left: 2%;
    }
}

.wrapperstart {
    width: 70%;

    @include media-query($on-desktop) {
        width: 90%;
        }

    @include media-query($on-laptop) {
        width: 80%;
    }
    @include media-query($on-palm) {
        width: 100%;
    }
}

.page-content h2,.page-content h3 {
    margin-top: 50px;
    clear: both;
    display: block;
}

.page-content {

    .post-title {
        text-align: center;
        margin: 50px 0;

    }
}

.site-nav .page-link {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

header.site-header {
    border: 0px;
    color: #fff;
    padding: $spacing-unit / 2
}
.page-content {
    padding: 0;
}

a.site-title {
    font-size: 28px;
    font-weight: 200;
    line-height: 41px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    max-width: 34vw;

    span {
        
        @include media-query($on-palm) {
        display: none;
        }
    }

    @include media-query($on-palm) {
        font-size: 20px;
        font-weight: 400;
        line-height: 23px;
        }
}

.header-positive {
    color: #fff;
    z-index: 500;

    .site-title {
        color: #fff;
        
        &:visited{
            color: #ccc;
        }
    }

    .wrapper {
        max-width:70%;
        margin-right: auto;
        margin-left: auto;
        padding-right: $spacing-unit;
        padding-left: $spacing-unit;

          @include media-query($on-desktop) {
          width: 80%;
        }

        @include media-query($on-laptop) {
            max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
            max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
            margin-right: auto;
            margin-left: auto;
            padding-right: $spacing-unit;
            padding-left: $spacing-unit;
           
        }
    }

    .page-link-positive {
        color: #fff; 
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        margin-right: 20px;

        &:last-child {
        margin-right: 0px;
        }

        &:visited{
            color: #ccc;
        }
    }
}

.stage {
    width: 100%;
    height: 600px;
    max-height: 600px;
    background: #111;
    position: relative;
    top: -112px;
    z-index: 0;
    overflow: hidden;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    background-image: url(/assets/stage-bg.png);
    

    .stageproto {
        align-self: center;
        height: 1200px;
        width: 500px; 
    }

    img {
        margin: 0 auto;
        height: 500px;
    }

    .stagenote {
        padding: 20px;
        background-color: #4386FA;
        color: #fff;
        text-align: center;
        position: relative;
        bottom: 0;
        margin: 0;
    }
}

.Contents {
    padding-bottom: 300px;
}

.imgfit {
    width: 100%;
}
.imgright {
    width: 100%;
    width:39%;
    float:right;
    margin-left:5%;
}

.imgleft {
    width: 100%;
    width:39%;
    float:left;
    margin-left:5%;
}


iframe {
    border: 1px solid #f2f2f2;
}

.prototype-right {
    height:500px;
    width:39%;
    float:right;
    margin-left:5%;
    margin-bottom: 40px;

    @include media-query($on-palm) {
        width: 100%;
        float: none;
    }
}   

.prototype-left {
    height:500px;
    width:39%;
    float:left;
    margin-right:5%;
    margin-bottom: 40px;

    @include media-query($on-palm) {
        width: 100%;
        float: none;
    }
}   

div.tocible {
    max-width: 150px; 
    top: 17px; 
    bottom: auto; 
    left: 20px;

    @include media-query($on-palm) {
        display: none;
    }
}

div.tocible ul {
    list-style-image: none;
    list-style: none;
    margin: 0;
    padding: 0 0 0 10px;
    font-size: 14px;
    font-weight: 400;

    li {

        a{
            color:#111;
            font-weight: 400;
        }

    }
    .tocible_heading {
        margin-top: 30px;
    }

    .tocible_subheading {
        margin-top: 10px;
    }

    li.toc_scrolled a{
        color:#4386fa;
    }
}

.list-content h2 {
    margin: 0;
}
ul.postlist {

    li {
        h2 {
        margin: 0;
        }
    }
}


.footwrapper {
    padding: 30px;
}