@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');


h2 {
    margin-top: 20px; 
}

.site-nav .page-link {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

header.site-header {
    border: 0px;
}