<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header-positive.html %}

    <div class="stage">
      <p class="stagenote">This repository is an example how to document interaction design. <a href="https://github.com/MarieSchweiz/ixd-documentation">Fork me</a></p>
      <a href="https://framer.cloud/KkjHL"><img src="https://marieschweiz.github.io/ixd-documentation/assets/header_backgroundfoto.png" alt=""></a>
    </div>

    <div class="Contents flexcontainer">

      <div class="sidenav">
        <div class="ref">
        <!-- 
          This element will be the reference 
          for the navigation list positioning, 
          especially on RWD, so position well 
          to your liking. 
        -->
        </div>
      </div>
    

    <main class="page-content flexcontent" aria-label="Content">
      
      <div class="wrapper">
        {{ content }}
      </div>
      
    </main>
    </div>

    {% include footer-negative.html %}


  </body>


</html>
